body{
    background-color: rgb(235, 235, 235);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(23, 87, 133);
}

h2 {
    color: rgb(23, 87, 133);
}

#header {
    background-color: white;   
}

@media screen and (max-width: 640px){
    #header{
        text-align: center!important;
    }
}
@media screen and (max-width: 640px){
    .text-right{
        text-align: center!important;
    }
}